<div class="container__background">
   <div class="content__local-beaches">
   
      <div class="beach__locate-padre">
         <div class="praia-padres">
         <p>Praia dos Padres</p>
         <a href= "content/1"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0025.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="256" cy="192" r="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
         </svg>
         </a>
         
         </div>
      </div>
      
         <div class="beach__locate-bacutia">
            <div class="praia-bacutia">
            <p>Praia de Bacutia</p>
            <a href="content/2"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0025.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="256" cy="192" r="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
            </svg>
            </a>
            </div>
         </div>

         <div class="beach__locate-peracanga">
            <div class="praia-peracanga">
            <p>Praia de Peracanga</p>
            <a href="content/3"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0025.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="256" cy="192" r="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
            </svg>
            </a>
            </div>
         </div>

         <div class="beach__locate-guaibura">
            <div class="praia-guaibura">
            <p>Praia de Guaibura</p>
            <a href="content/4"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0025.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="256" cy="192" r="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
            </svg>
            </a>
            </div>
         </div>
   </div>
   <div class="content__main-title">
      <h1>Conheça as praias da Enseada Azul</h1>

      <h3>A Enseada Azul é um bairro na região Sul da cidade de Guarapari/ES.

         Fica a apenas 8 km do centro.
         
         
         Foi projetada para ser uma condomínio fechado com lotes amplos para mini-chácaras e mansões. Com o desenvolvimento da região o conceito urbanístico foi se modificando. 
         
         
         O bairro foi projetado com ruas amplas, quadras bem definidas, ruas asfaltadas, acesso às praias e muita presença da natureza. Além das lindas praias, as ruas são arborizadas trazendo muito charme e frescor.
         
         
         No inicio foram construídos apenas casas e condomínios de sobrados, casas com apenas 2 andares. Porém, com a evolução e o crescimento do bairro, logo surgiram os prédios. Primeiro, apenas prédios de 3 andares, depois passou para 4 e para 5 pavimentos de apartamentos com limite de altura. Nos dias de hoje continua restrito a construção de prédios altos.
         
         
         Toda a  infraestrutura do bairro, o charme das ruas e a proximidades com as lindas praias tornaram a Enseada Azul um dos bairros mais valorizados de Guarapari/ES.
         
         
         Um lugar paradisíaco, perfeito para descansar e ter alta qualidade de vida. Para você que quer passar férias, curtir os finais de semana ou morar no sossego e na tranquilidade, seu lugar é aqui!
         
         <br> Clique nos ícones de localização e conheça as lindas praias da Enseada Azul!
      </h3>
   </div> 
   
</div>

